In [6]:
import pandas as pd 

notas = pd.read_csv("ratings.csv")
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
notas.shape  #retornar o tamanho de um array (100836 avaliações, 4 colunas)

(100836, 4)

In [10]:
notas.columns = ['usuarioID', 'filmeID', 'nota', 'momento']  #redefinindo o nome das colunas
notas.head()

   usuarioID  filmeID  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [12]:
notas['nota'].unique()   #utilizamos o UNIQUE() para trazer somente os valores que consistem na tabelas sem repetições

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [14]:
notas['nota'].value_counts()   #metodo VALUE_COUNTS() para contar quantas vezes existem o mesmo valor na tabela

nota
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64

In [16]:
notas['nota'].mean() #retornando a média de todas as notas

3.501556983616962